<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>61160044 Waratchapoon Ponpiya</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <button v-for="colors in colors" v-bind:style="{backgroundColor: colors}" v-on:click="addBox(colors)">
            {{ colors}}
        </button>
        <template v-if="boxes.length == 0">
            <div>
                No box
            </div>
        </template>
        <template v-else>
            <div v-for="(box,index ) in boxes" v-bind:key="box.id" v-bind:style="{
                    position: 'relative',
                    width:'150px',
                    borderStyle: 'solid',
                    borderWidth: '1px',
                    backgroundColor:box.colors
            }">
                {{ box.id }}. {{ box.colors }}
                <span style="position: absolute; right:0;">
                    <button v-on:click="delBox(index)">-</button>
                    <button v-if="index!=0" v-on:click="upBox(index)">^</button>
                    <button v-if="index!=boxes.length-1" v-on:click="downBox(index)">v</button>
                </span>
            </div>
        </template>

    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                lastId: 0,
                colors: [
                    'red',
                    'green',
                    'blue',
                    'pink',
                    'yellow',
                    'white'
                ],
                selectColor: '',
                boxes: [],

            },
            methods: {
                addBox: function (colors) {
                    //reactive
                    this.boxes.push({
                        id: this.lastId++,
                        colors: colors
                    });
                },
                delBox: function (index) {
                    this.boxes.splice(index, 1);
                },
                upBox: function (index) {
                    var temp = [this.boxes[index - 1], this.boxes[index]];
                    this.boxes.splice(index - 1, 2, temp[1], temp[0]);
                },
                downBox: function (index) {
                    var temp = [this.boxes[index], this.boxes[index + 1]];
                    this.boxes.splice(index, 2, temp[1], temp[0]);
                },
            },

        });
    </script>

</body>

</html>